
.fa-home{
    color: #818181;
  }
  #home1{
    color: #818181;
  }
  .fa-hashtag{
    color: #818181;
  }
  #explore1{
    color: #818181;
  }
  #related11{
    color: white;
  }
  .material-icons{
    color: white !important;
  }
